<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147176562554-bu4bch7sh5f1r42duka9uq0ridabfo6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147176562554-bu4bch7sh5f1r42duka9uq0ridabfo6r</string>
	<key>API_KEY</key>
	<string>AIzaSyCBKYdEzNFbAx7sgnNyjwxWYLPqPgq9JEg</string>
	<key>GCM_SENDER_ID</key>
	<string>147176562554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.namerApp</string>
	<key>PROJECT_ID</key>
	<string>translatify-389702</string>
	<key>STORAGE_BUCKET</key>
	<string>translatify-389702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147176562554:ios:1709ae2e1263a0d7ff40c3</string>
</dict>
</plist>